{% extends "base.html" %}

{% block title %}Client database interface{% endblock title %}

{% block content %}
{% endblock content %}

{% block body_extras %}
<script src="/static/js/underscore-min.js"></script>
<script src="/static/js/backbone-min.js"></script>

<script src="/static/js/views.js"></script>
<script src="/static/js/main.js"></script>
{% endblock %}
