/* Common */
body {
    background-color: #555;
    padding-top: 5rem;
}

/* Voting page */
.client_card {
  width: 15rem;
  display: inline-block;
  margin: 10px;
}

.client_card img {
  height: 10em;
}

.client_card_vote {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

/* Limited title size to unify card sizes */
.client_card > .card-header {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.client_card > .card-body img {
    max-width: 95%;
}
